<ion-content class="ion-padding fondo">
  <div class="ion-padding" style="text-align: center;">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col sizeXl="6" style="background-color: aliceblue;margin-top: 20px;" class="ion-padding borde">
          <img src="../../../assets/icon/47-470043_icons8-flat-businessman-person-icon-png-removebg-preview.png" alt="" height="100px">
          <form #miFormulario="ngForm" (ngSubmit)="onSubmit()">
            <ion-input labelPlacement="floating" helperText="Formato: ayuda@dominio.cl" label="E-mail" required type="email"
              aria-label="Email" name="email" [(ngModel)]="usuario.username"></ion-input>
      
            <ion-input labelPlacement="floating" helperText="Formato: 8 Caracteres" label="Contraseña" required type="password"
              aria-label="Contraseña" name="Contraseña" [(ngModel)]="usuario.password"></ion-input>
              <div class="ion-text-end" style="margin-top: 10px;">
                <a fill="outline" routerLink="/recuperar-contra">Recuperar contraseña</a>
              </div>
            <ion-button style="width: 200px;" color="primary" type="submit" class="ion-padding" [disabled]="miFormulario.invalid">
              Ingresar
            </ion-button>
          </form>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>