#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-input {
  transition: transform 0.3s ease-in-out;

}

ion-input:focus {
  transform: translateY(-5px);

}

/* Animación para los elementos cuando se enfocan */
.animated-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  transition: transform 0.3s, font-size 0.3s;
}

.animated-item:focus-within {
  transform: translateY(-24px);
}

.animated-item ion-icon {
  font-size: 24px;
  margin-right: 8px;
}

/* Estilos generales para los elementos ion-input */
.animated-item ion-input {
  flex: 1;
  background-color: #00776E;
}

